@import '../../../../assets/styles/colors';

.view {

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    &-header {
        display: flex;
        align-items: center;

        &-image {
            width: 64px;
            height: 64px;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            background-color: $orange-jbx;
        }

        &-name-time {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            margin-left: 16px;

            ::ng-deep h2 {
                span, a { font-size: 18px; line-height: 18px; }
                margin-bottom: 4px;
                a { color: $light-blue-jbx; text-decoration: none; &:hover { text-decoration: underline } }
            }
        }
    }

    &-body {
        width: 100%;
        height: calc(100% - 64px);
        display: flex;
        align-items: center;

        &-content {
            flex: 2;
            display: grid;
            gap: 8px;
            grid-template-rows: repeat(auto-fit, minmax(275px, 1fr));
            grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
            max-height: 600px;
            cursor: pointer;

            &-item {
                position: relative;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border: solid 1px rgba($text-gray, .3);
                border-radius: 24px;

                &.more-items {

                    .cover {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: rgba($text-gray, .6);
                        z-index: 10;

                        span {
                            color: white;
                            font-size: 48px;
                            line-height: 56px;
                            text-shadow: 0 0 8px black;
                        }
                    }
                }
            }
        }

        &-info {
            flex: 1;
            align-self: stretch;
            margin: 24px;
            overflow-y: auto;
            position: relative;
            padding-bottom: 16px;

            &-title {
                position: sticky;
                top: 0;
                background-color: $light-gray;
                padding: 16px 0;

                ::ng-deep h3 {
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 500;
                }
            }
        }
    }

}