@import '../../../assets/styles/colors';

.management {
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-item {
        width: 300px;
        height: 300px;
        margin-right: 24px;
        margin-bottom: 24px;
        background-color: $header-blue;
        border-radius: 24px;
        color: white;
        box-shadow: 0px 4px 8px rgba($header-blue, .3);
        position: relative;
        cursor: pointer;
        transition: all .2s ease-out;

        h2 {
            margin: 24px;
            font-size: 32px;
            line-height: 40px;
        }

        img {
            position: absolute;
            bottom: 4px;
            right: 4px;
            filter: drop-shadow(0 4px 4px rgba(black, .3));
            transition: all .2s ease-out;
        }

        &:hover {
            box-shadow: 0px 8px 16px rgba($header-blue, .6);
            transition: all .2s ease-out;
        }
    }
}