
@use '~@angular/material' as mat;
@import '~ngx-print-element/styles.css';
@import './assets/styles/palette';
@import './assets/styles/colors';

@include mat.core();

$jobbox-frontend-primary: mat.define-palette($jobbox-primary-palette);
$jobbox-frontend-accent: mat.define-palette($jobbox-accent-palette, A200, A100, A400);

$jobbox-frontend-warn: mat.define-palette($jobbox-warn-palette);

$jobbox-frontend-theme: mat.define-light-theme((
  color: (
    primary: $jobbox-frontend-primary,
    accent: $jobbox-frontend-accent,
    warn: $jobbox-frontend-warn,
  )
));
@include mat.all-component-themes($jobbox-frontend-theme);

* { 
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
      background: transparent;
  }

  &::-webkit-scrollbar-thumb {
      background: $medium-dark-gray;
      border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: $text-gray;
  }
}
html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Asap, "Helvetica Neue", sans-serif; box-sizing: border-box; }

.mat-typography, .mat-typography h1,.mat-typography h2, .mat-typography h3, .mat-typography h4, 
.mat-typography h5, .mat-typography h6, .mat-typography p, .mat-typography span, .mat-typography a {
  font: 400 14px / 20px Asap, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

button {
  cursor: pointer;
}

::ng-deep .tooltip-class {
  background-color: red;
}
