<div class="token-sent-container">
    <div class="token-sent-cover">
        <div class="token-sent-cover-image">
            <img src="assets/img/token_sent_cover.svg">
        </div>
    </div>
    <div class="token-sent-info">
        <div class="token-sent-info-data">
            <h2>Solicitação enviada!</h2>
            <p>Para sua segurança, enviamos
                <br>um link para recuperar
                <br>sua senha para o seu e-mail. Não
                <br> esqueça de checar a caixa de 
                <br>spam
            </p>
        </div>
        <div class="token-sent-info-resend">
            <p>Não recebeu nada?</p>
            <a>Reenviar confirmação</a>
        </div>
    </div>
    <div class="token-sent-logo-container">
        <jbx-logo-horizontal fillColor="#FFC32A"></jbx-logo-horizontal>
    </div>
    <div class="token-sent-background"></div>
</div>