$orange-jbx: #FF7A00;
$light-blue-jbx: #0085A6;
$dark-blue-jbx: #5A71B0;
$red-jbx: #FF4545;
$yellow-jbx: #FFC32A;

$header-blue: #455A64;

$lighter-gray: #FAFAFA;
$light-gray: #E0E0E0;
$medium-gray: #C4C4C4;
$medium-dark-gray: #808080;
$text-gray: #263238;

$green-jbx: #4CAF50;