<div class="recovered-container">
    <div class="recovered-cover">
        <div class="recovered-cover-image">
            <img src="assets/img/recovered_cover.svg">
        </div>
    </div>
    <div class="recovered-info">
        <div class="recovered-info-data">
            <h2>Senha recuperada!</h2>
            <p>Você já pode utilizar sua nova senha
                <br>para fazer login na plataforma
            </p>
        </div>
        <div class="recovered-info-resend">
            <a [routerLink]="'../login'"><mat-icon>arrow_back</mat-icon> Voltar para o login</a>
        </div>
    </div>
    <div class="recovered-logo-container">
        <jbx-logo-horizontal fillColor="#5A71B0"></jbx-logo-horizontal>
    </div>
    <div class="recovered-background"></div>
</div>